/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-image {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-menu {
  background-image: url(sprite.png);
  background-position: 0px -40px;
  width: 26px;
  height: 26px;
}
.icon-password {
  background-image: url(sprite.png);
  background-position: -52px -40px;
  width: 16px;
  height: 16px;
}
.icon-search {
  background-image: url(sprite.png);
  background-position: -40px 0px;
  width: 30px;
  height: 30px;
}
.icon-signout {
  background-image: url(sprite.png);
  background-position: -26px -40px;
  width: 26px;
  height: 26px;
}
.icon-username {
  background-image: url(sprite.png);
  background-position: -70px 0px;
  width: 16px;
  height: 16px;
}
