#container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 960px;
  height: 620px;
  margin-left: -480px;
  margin-top: -310px;
  border-radius: 30px;
  box-shadow: 3px 3px 2px;
}

#content {
  height: 620px;
  margin-right: 200px;
}

#content-show {
  height: 500px;
  padding: 20px;
  border-top-left-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

#content-send {
  height: 120px;
  border-bottom-left-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

#input-message {
  width:100%;
  height: 70px;
  border: 1px solid gray;
  border-right: 0;
  border-left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto;

  &:empty:before {
    content: attr(placeholder);
    color: #555;
  }

  &:empty:focus:before {
    content: "";
  }
}

.button-send {
  width: 80px;
  height: 30px;
  margin: 10px 30px 10px 80px;
  padding: 0;
  border: 0;
  color: black;
  background-color:   #B7B7B7;
  box-shadow: 1px 2px 3px;
  &:hover {
    background-color: #848484;
  }
}

.button-clear {
  @extend .button-send;
  float: right;
  margin: 10px 80px 10px 30px;
}

#info-send {
  font-weight: bold;
}

#users-bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 620px;
  width: 200px;
  border-left: 1px solid gray;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

#user-label {
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#users-list {
  padding: 0;

  li {
      height: 30px;
      padding-left: 40px;
      font-size: 1.2em;
      background: url(../img/user.png) no-repeat 5px 50%;
      list-style-type: none;
  }

  .sendto {
      background-color: gray;
  }
}
