// 全局样式


* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
    outline: none;
}

button {
    display: block;
    border: 0;
    cursor: pointer;
}

a {
    cursor: pointer;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    background-color: #F6F6F6;
    box-shadow: 8px 8px 8px -3px #E5E5E5;
}
