// 图标背景


@mixin icon($position, $width, $height) {
    display: block;
    background-color: transparent;
    background-image: url(./img/sprite.png);
    background-position: $position;
    width: $width;
    height: $height;
}

.icon-username {
    @include icon(-70px 0, 16px, 16px);
}

.icon-password {
    @include icon(-52px -40px, 16px, 16px);
}

.icon-search {
    @include icon(-40px 0px, 30px, 30px);
}

.icon-image {
    @include icon(0px 0px, 40px, 40px);
}

.icon-signout {
    @include icon(-26px -40px, 26px, 26px);
    cursor: pointer;
}

.icon-menu {
    @include icon(0 -40px, 26px, 26px);
    display: none;
    cursor: pointer;
}
