.icon {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: -2px;
}

@mixin icon-style($postion, $width, $height) {
  background-image: url(./img/sprite.png);
  background-position: $postion;
  width: $width;
  height: $height;
}

.icon-info {
    @include icon-style(0px 0px, 24px, 24px);
}

.icon-success {
    @include icon-style(-24px 0px, 24px, 24px);
}

.icon-time {
    @include icon-style(-24px -24px, 16px, 16px);
}

.icon-warn {
    @include icon-style(0px -24px, 24px, 24px);
}