.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);

  form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 150px;
    margin-left: -100px;
    margin-top: -75px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
        label {
        display: inline-block;
        font-size: 1.1em;
    }
  }
}

.name {
  width: 120px;
  padding: 0;
  margin: 10px auto;
  border: 2px solid gray;
  border-radius: 3px;
}

.button-login {
  width: 80px;
  height: 30px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  color: black;
  background-color:   #B7B7B7;
  box-shadow: 1px 2px 3px;
  &:hover {
    background-color: #848484;
  }
}

.warning {
  color: red;
  margin: 0;
}