// 聊天室主体


.main {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px #FFF solid;
    background-color: #FFF;
    box-shadow: 0 5px 5px -2px #E8E8E8;
    div {
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 50%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    h2 {
        margin: 0;
        margin-right: .8em;
        color: #4A545F;
        font-size: 2.2rem;
        line-height: 66px;
    }

    p {
        margin: 0;
        margin-top: .2em;
        color: #5A646F;
        font-size: 1.6rem;
        line-height: 72px;
    }
}

.main-messages {
    flex: 1;
    border-bottom: 2px #FFF solid;
    overflow: auto;
}

.main-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    input[type="text"] {
        flex: 1;
        height: 44px;
        padding-left: 20px;
        padding-right: 10px;
        margin: 8px 2px 8px;
        border: 0;
        border-radius: .2rem;
        font-size: 1.6rem;
    }
}

.button-image {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 11px 8px 9px 9px;
    cursor: pointer;
    transition: .4s transform linear;
    &:hover {
        transform: scale(1.05);
    }
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
    }
}

.button-send {
    width: 54px;
    height: 40px;
    margin: 10px 8px;
    border-radius: .1rem;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    background-color: #4385F5;
    transition: .4s transform linear;
    &:hover {
        transform: scale(1.05);
    }
}
