.message-container {
    display: flex;
    margin: 30px 15px;
}

.message-sender {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

.message-content {
    flex: 1;
    margin-left: 10px;
    font-size: 1.6rem;
    .message-time {
        margin-left: .8em;
        color: #444;
        font-size: 1.4rem;
    }
    .message-text {
        display: inline-block;
        position: relative;
        margin-top: 5px;
        padding: 8px 10px;
        border-radius: 3px;
        font-size: 1.6rem;
        word-break: break-all;
        background-color: #FFF;
    }
}

.message-other {
    .message-text:before {
        content: "";
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 16px solid #FFF;
        border-bottom: 8px solid transparent;
        z-index: -1;
    }
}

.message-self {
    .message-sender {
        order: 2;
    }
    .message-content {
        order: 1;
        margin-right: 10px;
        text-align: right;
        .message-text {
            text-align: left;
            background-color: #CEEBFD;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: -8px;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-left: 16px solid #CEEBFD;
                border-bottom: 8px solid transparent;
                z-index: -1
            }
        }
    }
}

.message-system {
    text-align: center;
    margin: 1em 0 ;
    span {
        display: inline-block;
        padding: 0 10px;
        border-radius: 5px;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        line-height: 30px;
        word-break: break-all;
        background-color: #4385F5;
    }
}
