.sign {
    width: 320px;
    height: 290px;
    padding: 30px 20px 10px 30px;
    background-color: #F6F6F6;
    box-shadow: 8px 8px 8px -3px #E5E5E5;

    input[type=checkbox] {
        visibility: hidden;
        &:checked+label {
            left: 27px;
            background: #4385F5;
        }
    }

    input[type=submit] {
        display: block;
        width: 260px;
        height: 30px;
        border: 1px #CCC solid;
        border-radius: 5px;
        font-size: 1.6rem;
        background-color: #FFF;
        cursor: pointer;
        transition: .4s all linear;
        &:hover {
            color: #FFF;
            background-color: #4385F5;
        }
    }
}

.sign-choic {
    margin-bottom: 20px;

    a {
        display: inline-block;
        border-bottom: 2px solid #4385F5;
        color: #333;
        font-size: 2.2rem;
        text-decoration: none;
        &:first-child {
            margin-right: 25px;
        }
    }
}

.username, .password {
    position: relative;
    margin-bottom: 12px;
    border-radius: 4px;
    font-size: 1.6rem;
    i {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 16px;
        height: 16px;
    }
    input {
        display: block;
        width: 260px;
        height: 36px;
        padding-left: 28px;
        border: 1px solid #CCC;
        border-radius: 4px;
        font-size: 1.6rem;
        &:focus {
            border-color: #A6A6A6;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211, 211, 211, .6);
        }
    }
}

.username i {
    background: transparent url(./img/username.png) no-repeat;
}

.password i {
    background: transparent url(./img/password.png) no-repeat;
}

.warning {
    clear: both;
    margin: 0;
    margin-top: .5em;
    color: #FC635D;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.keepSigned {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    p {
        margin-top: .5em;
        margin-bottom: .7em;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2em;
    }
    div {
        position: relative;
        width: 40px;
        height: 10px;
        margin-left: 10px;
        border-radius: 3px;
        background: #555;
    }
    label {
        position: absolute;
        top: -3px;
        left: -3px;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #CCC;
        cursor: pointer;
        transition: .4s all ease;
    }
}
